.header {
	height: 300px;
	position: fixed;
	top: 0px;
	width: 100%;
}

.backgroundImage {
	height: 300px;
}

.logo {
	height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logoContainer {
	position: fixed;
	top: 10px;
	width: 100%;
}

.menuContainer {
	position: fixed;
    top: 250px;
    left: 10px;
    display: flex;
	width: 100%;
	text-align: center;
}

.menuItem {
	flex-grow: 1;
	text-transform: uppercase;
	font-weight: bolder;
}

.menuItem > a {
	text-decoration: none;
	color: black;
}

.navWide {
	
}

.navNarrow {
	display: none;
}

.navNarrowLinks {
	display: none;
}

@media (max-width: 800px) {
	.navWide {
		display: none;
	}
	
	.navNarrow {
		display: block;
	}
}