.outer.collapsed {
	height: 100px;
}

.absolute {
	position: absolute;
	z-index: 3;
}

.animated {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}

.outer {
	height: 300px;
}

.header {
	position: fixed;
	top: 0px;
	width: 100%;
}

.backgroundImage {
	height: 300px;
}

.backgroundImage.collapsed {
	clip-path: inset(0px 0px 200px 0px);
}

.logo {
	height: 200px;
    margin-left: calc(50% - 250px);
	display: block;
}

.logo.collapsed {
	height: 80px;
	margin-left: initial;
}

.logoContainer {
	position: fixed;
	top: 10px;
	width: 100%;
}

.menuContainer {
	position: fixed;
    top: 250px;
    left: 10px;
    display: flex;
	width: 100%;
	text-align: center;
}

.menuContainer.collapsed {
	top: 50px;
	width: calc(100% - 220px);
	left: 230px;
}

.burguerRight {
	float: right;
    margin-right: 30px;
}

.menuItem {
	flex-grow: 1;
	text-transform: uppercase;
	font-weight: bolder;
}

.menuItem > a {
	text-decoration: none;
	color: black;
}

.navWide {
	
}

.navNarrow {
	display: none;
}

.navNarrowLinks {
	display: none;
}

@media (max-width: 940px) {
	.navWide :not(.collapsed) {
		display: none;
	}
	
	.navNarrow :not(.collapsed) {
		display: block;
	}
}

@media (max-width: 1200px) {
	.navWide.collapsed {
		display: none;
	}
	
	.navNarrow.collapsed {
		display: block;
	}
}