@font-face { font-family: Karla; src: url('/files/fonts/Karla/Karla-Regular.ttf'); } 
@font-face { font-family: Karla; font-weight: bold; src: url('/files/fonts/Karla/Karla-Bold.ttf');}

:root {
	--primary-color: #D9E762;
	--secondary-color: #ECDB64;
	--tertiary-color: #9FD75B;
	--opposite-color: #8C449B;
	--background-color: #FAFAFA;
	--text-color: grey;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 2em;
	background-color: var(--background-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html::-webkit-scrollbar
{
	width: 0px;
	background-color: var(--background-color);
}

a {
	text-decoration: none;
	color: var(--opposite-color);
	font-weight: bold;
}
