@font-face { 
	font-family: Karla; 
	font-display: fallback; 
	src: url('files/fonts/Karla/Karla-Regular.ttf'); 
} 
@font-face { 
	font-family: Karla; 
	font-display: fallback; 
	font-weight: bold; 
	src: url('files/fonts/Karla/Karla-Bold.ttf');
}
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

:root {
	--primary-color: #D9E762;
	--secondary-color: #ECDB64;
	--tertiary-color: #9FD75B;
	--opposite-color: #8C449B;
	--background-color: #FAFAFA;
	--scrollbar-color: blue;
	--text-color: grey;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 2em;
	background-color: var(--background-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

html::-webkit-scrollbar
{
	width: 7px;
}

html::-webkit-scrollbar-track
{
	background-color: var(--background-color);
}

html::-webkit-scrollbar-thumb
{
	background-color: var(--secondary-color);
}

a {
	text-decoration: none;
	color: var(--opposite-color);
	font-weight: bold;
}
